$edit-primary-color: #db6327;
$edit-accent-grey: #dbdbdb;
$edit-grey: #9e9e9e;
$edit-blue: #1892bf;
$label-grey: #4a4a4a;

@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin slowShow($time) {
    visibility: hidden;
    @include opacity(0);

    &.active{
        visibility: visible;
        @include opacity(1);
        @include transition(opacity $time ease);
    }
}

@mixin resetMargin() {
    margin: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#base-alert {
    @include slowShow(1s);
    @include resetMargin();
    height: 0;
    display: none;

    &.active{
        height: auto;
    }
}

#change-mode {
    background: $edit-primary-color;
    color: #FFF;
    position: absolute;
    display: none;
    right: 20px;
    top: 20px;
}

body, html {
    margin: 0;
    padding: 0;
}

#widget-body {
    @include slowShow(0.2s);

    #view-container, #edit-container {
      display: none;
      overflow-x: hidden;

        &.active {
            display: block;
        }
    }

    #view-container {
        background: rgba(255, 255, 255, 0);
    }

    #edit-container {
        background: #FFF;
        width: 100%;
        height: 100vh;

        .row {
            @include resetMargin();
        }

        h1, h2 {
            font-family: 'Montserrat';
        }

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 14px;
        }

        .header, .footer {
            @include resetMargin();
            color: #FFF;
            width: 100%;
            padding: 0 10px;
            z-index: 3;
        }

        .header {
            background: $edit-primary-color;
            z-index: 100;
            position: absolute;
            top: 0;
            height: 50px;

            h1 {
                color: #FFF;
                margin: 0;
                line-height: 50px;
                margin-left: .5em;
                text-transform: uppercase;
            }
        }
        
        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px;
            width: 100%;
            background-color: #FFF;
            text-align: right;

            .waves-effect.waves-light {
                &.btn {
                    background-color: #1892bf !important;
                    color: #FFF;
                }
            }

            .btn-flat {

                &:focus, &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    box-shadow: none;
                }
            }
        }

        .body {
            background: #FFF;
            position: fixed;
            top: 50px;
            bottom: 76px;
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;

            label {
                &#testlabel1, &#testlabel2, &#testlabel3 {
                    transform: translateZ(0);
                }
            }

            .section {
                @include resetMargin();

                border: 1px solid $edit-accent-grey;
                margin: 20px 20px 0 20px;
                padding: 0px;

                .margin-bottom {
                    margin-bottom: 20px;
                }

                .title {
                    @include resetMargin;
                    
                    h2 {
                        margin: 1em;
                        text-transform: uppercase;
                        font-size: 14px;
                        color: $edit-primary-color;
                    }
                }

                .settings-fields {
                    padding: 0px 20px;
                }

                .switch label input[type=checkbox]:checked+.lever:after {
                    background-color: $edit-primary-color;
                }

                .switch label input[type=checkbox]:checked+.lever {
                    background-color: rgba(219, 99, 39, 0.6);
                }

                .field-label {
                    font-family: 'Roboto';
                    color: $label-grey;
                    font-size: 15px;
                }

                label {
                    color: $label-grey;

                    &.active {
                        color: $edit-primary-color;
                    }
                }

                [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after,
                [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before,
                [type="radio"].with-gap:checked+label:after, [type="radio"]:checked+label:after,
                [type="radio"].with-gap:checked+label:after, [type="radio"]:checked+label:after,
                [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after,
                [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
                    background-color: $edit-primary-color;
                    background-color: $edit-primary-color;
                    box-shadow: 0 1px 0 0 $edit-primary-color;
                }

                [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before,
                [type="radio"].with-gap:checked+label:after {
                    border: 2px solid $edit-primary-color;
                }

                input[type=text]:not(.browser-default) {
                    &:focus:not([readonly]) {
                        box-shadow: none;
                        border-bottom: 1px solid $edit-primary-color;
                        padding-left: 2px;
                    }
                }

                input.jscolor {
                    height: 50px;
                    width: 100px;
                    border-radius: 5px;
                    text-align: center;
                    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
                    margin-top: -20px;
                    border: none;
                }

                textarea.materialize-textarea {
                    border: none;
                    border-bottom: 1px solid #dbdbdb;
                    box-sizing: border-box;
                    font-size: 15px;

                    &:focus:not([readonly]) {
                        box-shadow: 0 1px 0 0 $edit-primary-color;
                    }
                }
            }
        }
    }
}
