#widget-body {
    #edit-container .email-edit-row {
        display: none;
    }
    
    #view-container {
        background: rgba(255, 255, 255, 0.95);
        height: 100vh;
        width: 100%;
        padding: 40px;
        overflow: hidden;

        #title {
            text-align: center;
            font-size: 36px;
        }
        #sub-title {
            text-align: center;
            font-size: 24px;
        }
        #fields {
            @include resetMargin();

            .row {
                @include resetMargin();
            }

            .input-field input[type=text],
            .input-field input[type=email] {
                /* label focus color */
                &::focus + label {
                    color: #000;
                }

                /* label underline focus coloasdfasdfr */
                &:focus {
                    border-bottom: 1px solid #000;
                    box-shadow: none;
                }

                /* valid/invalid color */
                &.valid, &.invalid {
                    box-shadow: none;
                }

                &.valid {
                    border-bottom: 1px solid #000;
                }

                &.invalid {
                    border-bottom: 1px solid #F44336;
                }
            }

            .input-field {
                .prefix.active, label {
                    color: #000;
                }
            }
        }
        #footer {
            margin-top: 30px;
            
            #submit-btn {
                background: $edit-blue;
            }

            #skip {
                float: right;
            }

            .btn-flat:hover {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}
