#add-to-cart.btn-visible {
    margin-left: 1061px;
    margin-top: 10px;
}



#alsdjf {
  top: 65px;
}

#change-mode.this-button{
  margin-top: 10px;
  top: 70px;
}

#shopify-container {
    background: #fff;
    visibility: hidden;
}

#shopify-container.active {
    visibility: visible;
}

#view-container {
  background: transparent !important;
}
